body{
    background-color: lightgrey;
}
*{list-style: none;}
a{text-decoration: none;color: black;}
header a:hover{
    color: #29a19c;
    text-align: 15px;
}
header{
    background-color: #393e46;
    padding-left: 20%;
    padding-right: 20%;
}
.item-header{
    font-size: 13px;
    padding: 5px;
}
.icon-header{
    color: #29a19c;
}
.icon-header-cuenta:hover{
    color: #29a19c;
}
.selection-header{
    background-color: #393e46;
    color: black;
    border: none;
}
.selection-header:hover{
    color: #29a19c;
}
nav{
    background-color: #222831;
    border-bottom: 5px solid #29a19c;
}
.div-nav{
  position: absolute;
  top: 50%;
  margin-top: -25px; 
}
.img-logo{
    width: 45%;
}
nav li{
    display: inline;
    float: right;
}
nav .icon-nav{
    color: #29a19c;
    font-size: 32px;
    margin-right: 50px;
}
.input-group-der{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 150px !important;
}
footer .input-group-der{
    max-width: 550px !important;
}
.input-group-izq{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.input-group-color{
    color: black;
    border: none;
}
.input-group-color button{
    background-color: #29a19c;
}
footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}
footer .sup{
    background-color: #222831;
    border-top: 5px solid #29a19c;
}
footer .sup p{
    text-align: center;
    font-size: 17px;
    color: white;
}
footer .sup ul{
    padding: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #29a19c;
}
footer .icon-fondo{
    position: absolute;
    left: 5%;
    top: 2%;
    color: #393e46;
    font-size: 180px;
    transform: rotate(25deg);
}
footer .bajo{
    z-index: 2;
    background-color: #393e46;
    display: flex;
    color: #29a19c;
}
footer .bajo img{
    width: 100%;
}
.dropdown-toggle::after {
    display:none;
}
.dropdown-menu[data-bs-popper]{
    left: inherit;
    margin-top: -10px;
}


.body-login{
    background-color: #393e46;
}
.content{
    margin-top: 10%;
    width: 33%;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid black;*/

    border-radius: 20px;
    box-shadow: 4px 4px 8px #000000;

    padding: 20px;
    background-color: #393e46;
}
.content img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form_main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.form_main_register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.form_camp{
    border: 0;
    border-bottom: 1px solid #258BB5;
    background-color: #F4F4F4;
    display: flex;
    margin-top: 2px;
}
.form_add{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: white;
}
.form_add:hover{
    color: #258BB5;
}
.form_submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    border-radius: 6px;
    background-color: #29a19c;
    border: 2px solid #29a19c;
    color: black;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}
.form_submit:hover{
    background-color: lightgray;
    border: 2px solid #29a19c;
    color: #29a19c;
}
.msgError{
    text-align: left;
    padding: 4px 4px 4px 16px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #c81912;
    border: 2px solid black;
    border-radius: 10px;
}

#centrador{
    position: relative;
}

#imagen{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}